@media (min-width: 769px) {

html {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: powderblue; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  }

header {
  display: flex;
  justify-content: center;
  background: radial-gradient(37.22% 80.99% at 50% 50%, rgba(217, 217, 217, 0.00) 70.31%, rgba(255, 190, 88, 0.85) 100%);  width: 100%;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid #464646;
  }

.logo-image {
  height: 100%;
  }

nav {
  /* background-color: fuchsia; */
  display: flex;
  justify-content: center;
  }  

  ul {
  display: flex;
  background-color: #E1E1E1;
  border: 2px solid #464646;
  border-top: none;
  padding: 0;
  margin: 0;
  }

li {
  text-align: center;
  list-style-type: none;
  border-left: 2px solid #464646; 
  padding: 10px;
  }

a {
  font-family: "Saira";
  font-size: 20px;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  }

a:visited {
  color: black;
  }

li:nth-child(1) {
  border-left: none;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
  width: 100%;
  }

.title {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
}

.title > h1 {
  font-size: 40px;
  font-family: "Saira";
  font-weight: 1000;
  } 

p {
  font-size: 20px;
  font-family: "Saira";
  margin-top: 0;
  } 
  
.mandatory {
    font-size: 15px;
    font-family: "Saira";
    margin-bottom: 5px;
}
  
label {
  font-size: 16px;
  font-family: "Saira";
  margin-top: 0;
  font-weight: bold;
  }
  
.main-content {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  }
  
.main-content-text {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: solid #464646;
    border: 1px solid #000;
background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFBE58 100%);
    height: 460px;
    padding: 20px 50px 50px 50px;
}

input::placeholder {
    font-style: italic;
}

.name-input {
    display: flex;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px 20px 0 0;
}

.input-box-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

#message {
    height: 6rem;
}

#message::placeholder {
    position: absolute;
    top: 0;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-button {
    height: 90%;
    width: 25%;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Saira";
    font-weight: bold;
}

.destination-address {
    margin-top: 10px;
    margin-bottom: 0;
}

footer {
  /* background-color: chartreuse; */
  display: flex;
  width: 100%;
  height: 120px;
  margin-top: auto;
}

.footer-base {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: 100%;
  }

.footer-text {
  position: absolute;
  display: flex;
  align-self: end;
  height: 120px;
  width: 100%;
}

.icons-follow {
  position: absolute;
  left: 2.25%;
  bottom: 3%;
  height: 30px;
}

.icons-contact {
  position: absolute;
  right: 1.75%;
  bottom: 3%;
  height: 30px;
}

.follow {
  position: absolute;
  bottom: 30%;
  left: 2.5%;
  font-size: 26px;
}

.copyright {
  position: absolute;
  left: 40.5%;
  bottom: -4%;
}

.contact {
  position: absolute;
  bottom: 52.5%;
  right: 1.5%;
  font-size: 26px;
  width: 130px;
}
}

@media (max-width: 768px) {

    html {
        margin: 0;
        padding: 0;
      }
      
      body {
        /* background-color: powderblue; */
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        }
      
      header {
        display: flex;
        justify-content: center;
        background: radial-gradient(37.22% 80.99% at 50% 50%, rgba(217, 217, 217, 0.00) 70.31%, rgba(255, 190, 88, 0.85) 100%);  width: 100%;
        padding: 5px 0 5px 0;
        border-bottom: 2px solid #464646;
        }
      
      .logo-image {
        height: 100%;
        }
      
      nav {
        /* background-color: fuchsia; */
        display: flex;
        justify-content: center;
        }  
      
        ul {
        display: flex;
        background-color: #E1E1E1;
        border: 2px solid #464646;
        border-top: none;
        padding: 0;
        margin: 0;
        }
      
      li {
        text-align: center;
        list-style-type: none;
        border-left: 2px solid #464646; 
        padding: 10px;
        }
      
      a {
        font-family: "Saira";
        font-size: 20px;
        text-decoration: none;
        }
      
      a:hover {
        text-decoration: underline;
        }
      
      a:visited {
        color: black;
        }
      
      li:nth-child(1) {
        border-left: none;
        }
      
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10%;
        width: 100%;
        }
      
      .title {
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100px;
      }
      
      .title > h1 {
        font-size: 40px;
        font-family: "Saira";
        font-weight: 1000;
        } 
      
      p {
        font-size: 20px;
        font-family: "Saira";
        margin-top: 0;
        } 
        
      .mandatory {
          font-size: 15px;
          font-family: "Saira";
          margin-bottom: 5px;
      }
        
      label {
        font-size: 16px;
        font-family: "Saira";
        margin-top: 0;
        font-weight: bold;
        }
        
      .main-content {
        /* background-color: purple; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        }
        
      .main-content-text {
        /* background-color: orange; */
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35px;
      }
      
      .contact-form {
        display: flex;
        flex-direction: column;
        border: solid #464646;
        border: 1px solid #000;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFBE58 100%);
        height: 640px;
        padding: 20px 50px 50px 50px;
      }
      
      input::placeholder {
          font-style: italic;
      }

      .name-input {
        display: flex;
        flex-direction: column;
      }
      
      .input-box {
          display: flex;
          flex-direction: column;
          width: 50%;
          margin-top: 20px;
      }
      
      .input-box-message {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
      }
      
      #message {
          height: 6rem;
      }
      
      #message::placeholder {
          position: absolute;
          top: 0;
      }
      
      .button {
          display: flex;
          justify-content: center;
          width: 100%;
      }
      
      .submit-button {
          height: 150%;
          width: 50%;
          margin-top: 15px;
          font-size: 16px;
          font-family: "Saira";
          font-weight: bold;
      }
      
      .destination-address {
          margin-top: 40px;
          margin-bottom: 0;
      }

    footer {
        background-color: #ffce82;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        height: 80px;
        border-top: 2px solid #464646;
        }
      
      .footer-base {
        display: none;
        }
      
      .footer-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
      
      .icons-follow {
        display: none;
      }
      
      .icons-contact {
        display: none;
      }
      
      .follow {
        display: flex;
        align-self: center;
        align-items: center;
        background-color: #ffb030;
        height: 50px;
        padding: 5px 10px 5px 10px;
        margin: 0 0 0 30px;
        border: solid #464646  
      }
      
      .copyright {
        align-self: end;
        font-size: 14px;
        margin-bottom: 5px;
      }
      
      .contact {
        display: flex;
        align-self: center;
        align-items: center;
        background-color: #ffb030;
        height: 50px;
        padding: 5px 10px 5px 10px;
        margin: 0 30px 0 0;
        border: solid #464646
      }
}